body {
  background-image: url(../img/triangular.png);
  background-repeat:repeat;
}

h1 {
  display: inline-block;
  padding-left: 100px;
}

p {
  display: block;
  margin-left: 300px;
}

#pic_of_me {
  float: left;
  max-width: 15%;
  display: inline-block;
  margin: 20px 0 0 30px;
}

#content {
  margin-top: 85px;
}

#navigation {

  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,0.75);
}

#fixednav {
  list-style: none;
  display: block;
  width: 710px;
  margin: 0;
  padding: 0;
}

#fixednav li a {
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Audiowide;
  color: #fff;
  line-height: 80px;
  text-decoration: none;
  padding: 0px 8px;
  margin-right: 6px;
}

#fixednav #my_name {
  display: block;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
  line-height: 80px;
  text-decoration: none;
  padding: 0px 8px;
  margin-right: 6px;
}

#fixednav #my_name:hover, #fixednav li a:hover {
  color: #96aed8;
  background: rgba(0,0,0,0.3);
}
